apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: default
  labels:
    app: identity-service
spec:
  selector:
    app: identity-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
