apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudinator-ui
  namespace: default
  labels:
    app: cloudinator-ui
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: cloudinator-ui
  template:
    metadata:
      labels:
        app: cloudinator-ui
    spec:
      containers:
      - name: cloudinator-ui
        image: sovanra/nextjs:2
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
